$screen-320-374: 	"screen and (min-width: 320px) and (max-width: 374px)";
$screen-375-719: 	"screen and (min-width: 375px) and (max-width: 719px)";
$screen-720-1023: 	"screen and (min-width: 720px) and (max-width: 1023px)";
$screen-1024-1279: 	"screen and (min-width: 1024px) and (max-width: 1279px)";

$screen-1280-1365: 	"screen and (min-width: 1280px) and (max-width: 1365px)";
$screen-1366-1439: 	"screen and (min-width: 1366px) and (max-width: 1439px)";
$screen-1440-1535: 	"screen and (min-width: 1440px) and (max-width: 1535px)";
$screen-1536-1919: 	"screen and (min-width: 1536px) and (max-width: 1599px)";
$screen-1600-1919: 	"screen and (min-width: 1600px) and (max-width: 1919px)";
$screen-1920-2559: 	"screen and (min-width: 1920px) and (max-width: 2559px)";
$screen-2560-3200: 	"screen and (min-width: 2560px) and (max-width: 3200px)";
